body {
    background-image: url(fondoiphone.jpg);
}

#caja{
    background-color:black;
    margin-top: 7.7cm;
    margin-left: 21.75cm;
    height: 9.8cm;
}

.boton_abrir{
    margin-top: 9.85cm;
    margin-left: 22.2cm;
    width: 50px;
    height: 45px;
    border-radius: 20%;
}

.digito{
    color: white;
    background-color: rgb(44, 43, 43);
}

#display{
    padding: 5px;
    color: white;
    font-size: 20px;
    font-family: "Segoe UI"
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    
}

button{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-style: none;
    width: 63px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    font-family: "Segoe UI"
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.operando{
    background-color:orange;
}

#igual{
    background-color: orange;
}

#pot{
    background-color: gray;
}

#sqrt{
    background-color: rgb(44, 43, 43);
    color: white
}
#ans{
    background-color: gray;
}

#clear{
    background-color: gray;
}

#delete{
    background-color: gray;
}
#volver{
    background-color:black;
    color: white;
    border-style: none;
    margin-left: 132px;
}