/*Documento de estilo referido al CV de Elon Musk*/
/*Aquí sólo modifico la imagen de fondo*/
body{
   background-image: url('marte.jpg');
   }
/*Aquí alineo en el centro los h3*/
h3{
    text-align: center;
}
/*Aquí alineo en el centro los h1 y los pongo de color morado*/
h1{
    text-align: center;
    color: purple;
}
/*Aquí alineo en el centro los h2 y los pongo de color blanco*/
h2{
    color: white;
    text-align: center;
}
/*Aquí modifico el párrafo p1*/
p1{
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: white;
    font-size: medium;
}
/* Estilo de la caja lateral*/
left{
    width:30%;
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    float: left;
    color: white;
}
/*Estilo de la caja principal*/
right{
    border: 10px double;
    width: 65%;
    float: right;
    color: white;
/*Estilo de la foto de carnet*/
}
.imagen{
    margin-left: 3cm;
}
.padding{
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    color: white;
}
/*Definimos los títulos*/
.title{
    font-size: x-large;
    color:blue;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}
/*Modifico posicion del gif del cohete*/
.gifrocket{
    position:absolute;
    right: 200px;
    top:570px;
}
/*Modifico posicion del gif del coche tesla*/
.giftesla{
    position:absolute;
    right: 50px;
    top:470px;
}
/*Modifico posicion del gif de spacex*/
.gifspacex{
    position:absolute;
    right: 200px;
    top:470px;
}
/*Modifico posicion del gif de homer estudiando*/
.gifhomer{
    position:absolute;
    right:250px;
    top:280px;
}
/*Modifico posicion del gif del birrete*/
.gifgraduation{
    position:absolute;
    right:500px;
    top:230px;
}
/*DOy color al link porque el fondo es negro y no se distinguía*/
.link{
    color: white;
}
/*Doy color de fondo para que se vea la firma porque el fondo es negro*/
.signature{
    background-color: white;
}