body{
   background-image: url('marte.jpg');
   }

h3{
    text-align: center;
}

h1{
    text-align: center;
    color: purple;
}

h2{
    color: white;
    text-align: center;
}

p1{
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: white;
    font-size: medium;
}
/* Estilo de la caja lateral*/
izq{
    width:30%;
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    float: left;
    color: white;
}
/*Estilo de la caja principal*/
dcha{
    border: 10px double;
    width: 65%;
    float: right;
    color: white;
/*Estilo de la foto de carnet*/
}
.imagen{
    margin-left: 3cm;
}
.padding{
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    color: white;
}
/*Definimos los títulos*/
.title{
    font-size: x-large;
    color:blue;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}
.gifrocket{
    position:absolute;
    right: 80px;
    top:600px;
}
.giftesla{
    position:absolute;
    right: 50px;
    top:500px;
}
.gifspacex{
    position:absolute;
    right: 200px;
    top:500px;
}
.gifhomer{
    position:absolute;
    right:250px;
    top:300px;
}
.gifgraduation{
    position:absolute;
    right:500px;
    top:235px;
}
.link{
    color: white;
}
.signature{
    background-color: white;
}