body{
    background-image: url(fondoretro.jpg);
    size: inherit;
}

canvas{
    background-color: #031587;
    border-style: solid;
    border-width: 5px;
    border-color: #B802AF;
    border-radius: 5px;
    margin-left: 12cm;
    margin-top: 3cm;
}

#gameovergif{
    width: 20cm;
    height: 15cm;
    margin-left: 15cm;
    margin-top: 3cm;
}

#youwingif{
    width: 15cm;
    height: 10cm;
    margin-left: 17.5cm;
    margin-top: 3cm;
}

#play_again{
    width: 3cm;
    height: 2cm;
    background-color: violet;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', arial;
    margin-top: 3cm;
    margin-left: 23cm;
}

