body{
    background-image: url('carretera.jpg');
}


.centro{
    text-align: center;
}


.izquierda{
    margin: 50px;
    float: left;
}

.derecha {
    float: right;
    margin: 50px;
}

p1{
    color: burlywood;
    margin-left: 3.5cm;
    font-size: 30px;
    font-family: monospace;
}

p2{
    color: burlywood;
    font-size: 30px;
    margin-left: 2.5cm;
    font-family: monospace;
}
fieldset{
    background-color: burlywood;
    border-style: solid;
    border-color: black;
    margin-top: 5cm;
}

button{
    background-color: blanchedalmond;
    width: 80px;
}

 